.personal-info-page {
  /* position: relative; */
  /* height: auto; */
  /* height: 100vh; */
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  /* background-size: 100% 20%; */
  background-size: contain;
}

.personal-info-page .card-step-personal-info {
  width: 95%;
}
.personal-info-page .step-control {
  width: 100%;
  background-color: hsl(var(--clr-white));
}
