.select-plan-page {
  width: 100vw;
  max-width: 100%;
  grid-template-areas:
    "progress"
    "info"
    "step";

  background-image: url("../../assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: hsl(var(--clr-light-blue));
}

.select-plan-page .progress-container {
  grid-area: progress;
}

.select-plan-page .select-plan {
  grid-area: info;
  margin-inline: 1rem;
}

.select-plan-page .step-control {
  grid-area: step;
  width: 100%;
  background-color: hsl(var(--clr-white));
}

@media (min-width: 720px) {
  .select-plan-page {
    grid-template-areas:
      "progress info"
      "progress step";

    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    max-width: 100rem;
    background-image: none;
    background-color: hsl(var(--clr-white));
    padding: 1rem;
  }

  .select-plan-page .progress-container {
    background-image: url("../../assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 1rem;
    grid-area: progress;
    height: 100%;
  }

  .select-plan-page .select-plan {
    grid-area: info;
  }

  .select-plan-page .step-control {
    grid-area: step;
  }
}
