.add-on {
  border: solid 3px hsl(var(--clr-white));
}

.add-on:hover,
.add-on:focus {
  border-color: hsl(var(--clr-purplish-blue));
}

.add-on.add-on--active {
  border-color: hsl(var(--clr-purplish-blue));
}

.add-on .container {
  align-items: center;
  padding: 1rem 2rem;
}
