.card-add-on {
  border: none;
}

.card-add-on:hover,
.card-add-on:focus {
  border: solid 3px hsl(var(--clr-purplish-blue));
}

.card-add-on.card-add-on--active {
  border: none;
  border: solid 3px hsl(var(--clr-purplish-blue));
}

.add-on {
  align-items: center;
  padding: 1rem 2rem;
}
