.month-year-toggle-switch {
  background-color: hsl(var(--clr-light-blue));
  padding: 1rem 4rem;
  margin: 0 2rem;
}

.month-year-toggle-switch .month-title {
  color: hsl(var(--clr-cool-gray));
}

.month-year-toggle-switch .month-title--active {
  color: hsl(var(--clr-marine-blue));
}

.month-year-toggle-switch .year-title {
  color: hsl(var(--clr-cool-gray));
}

.month-year-toggle-switch .year-title--active {
  color: hsl(var(--clr-marine-blue));
}
