.plan {
  background-color: transparent;
  border: solid 1px hsl(var(--clr-light-gray));
  margin: 2rem;
}

.plan:hover,
.plan:focus {
  border: solid 1px hsl(var(--clr-purplish-blue));
  cursor: pointer;
}

.plan.plan--active {
  background-color: hsl(var(--clr-light-blue));
  border: solid 1px hsl(var(--clr-purplish-blue));
}

.plan img {
  height: 4rem;
  aspect-ratio: 1;
}

.plan {
  padding: 2rem;
}

.plan .bonus {
  display: none;
}

.plan .bonus.bonus--active {
  display: block;
}
