.progress-step-indicator {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 4rem;
  aspect-ratio: 1;
  border: 1px solid hsl(var(--clr-white));
  border-radius: 50%;
}
.progress-step-indicator.progress-step-indicator--active {
  background-color: hsl(var(--clr-light-blue));
  color: hsl(var(--clr-marine-blue));
  border: none;
}
