.progress-step-indicator {
  align-items: center;
}
.progress-step-indicator .indicator {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  border: 1px solid hsl(var(--clr-white));
  border-radius: 50%;
}

.progress-step-indicator .indicator.indicator--active {
  background-color: hsl(var(--clr-light-blue));
  color: hsl(var(--clr-marine-blue));
  border: none;
}

.progress-step-indicator .info {
  display: none;
}

.progress-step-indicator .step-name {
  color: hsl(var(--clr-white) / 50%);
}

@media (min-widthxxx: 720px) {
  .progress-step-indicator .info {
    display: block;
  }
}
