.step-control {
  padding: 1rem 2rem;
  justify-content: space-between;
}

.step-control .btn-back {
  visibility: hidden;
}
.step-control .btn-back.btn-back--visible {
  visibility: visible;
  border: none;
  background-color: transparent;
  color: hsl(var(--clr-cool-gray));
}

.step-control .btn-next {
  border: none;
  background-color: hsl(var(--clr-marine-blue));
  color: hsl(var(--clr-magnolia));
  padding: 1rem 4rem;
  border-radius: 0.5rem;
}

.step-control .btn-next.btn-next--last {
  background-color: hsl(var(--clr-purplish-blue));
}

.step-control .btn:hover,
.step-control .btn:focus {
  cursor: pointer;
}

.step-control .btn-back.btn-back--visible:hover,
.step-control .btn-back.btn-back--visible:focus {
  color: hsl(var(--clr-marine-blue));
}

.step-control .btn-next:hover,
.step-control .btn-next:focus {
  background-color: hsl(var(--clr-marine-blue-tint));
}

.step-control .btn-next.btn-next--last:hover,
.step-control .btn-next.btn-next--last:focus {
  background-color: hsl(var(--clr-purplish-blue-tint));
}

.step-control .btn-next:disabled {
  background-color: hsl(var(--clr-light-gray));
  cursor: not-allowed;
}
